body {
	background-color: $grey;
}

p {
	@include text(1.1em,1,$black);
	@extend %font-align;
}

a {
	@include text(1.1em);
	background-color: $green;
}

a:hover {
	@include text(1em,$blue);
}

li {
		list-style-type: none;

	a {
		text-decoration: none;
		@include text(1em,$black);
	}

	img {
		display: block;
		margin: auto;
		width: 90%;
	}
}
