// Descriptive color variables

$blue: #0000FF;
$black: #000000;
$green: #82E0AA;
$grey: #F5F5F5;
$white: #FFFFFF;

// Media query breakpoints

$brk-narrow : '(min-width: 768px)';
$brk-wide   : '(min-width: 1024px)';
